html, body {
    height: 100%;
}

body {
    font-family: $main-font-name, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    color: $base-text-color;
}

section {
    margin-bottom: 80px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}



.non-footer {
    flex: 1 0 auto;
    > nav {
        font-size: $font-size-small;
        padding: 16px;
        text-transform: uppercase;
        color: $main-header-text-color;
        background-color: $main-header-background-color;
        a {
            padding: 16px;
            color: $main-header-text-color;
            text-decoration: none;
            &:hover {
                color: lighten($main-header-text-color, 20%);
            }
        }
    }
}

main {
    margin: 32px;
    min-height: calc(100% - 100px);
}