/* Importing Bootstrap required parts*/
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

/* Importing Bootstrap optional parts*/
.avoid-bootstrap3-collisions {
  @import "~bootstrap/scss/reboot";
  @import "~bootstrap/scss/buttons";
  @import "~bootstrap/scss/close";
}
.avoid-bootstrap3-body-collisions {
  @import "~bootstrap/scss/modal";
}

/* Netrivals Palette */
@import "nr-colors";

/* Netrivals Typography */
@import "nr-typography";

/* Netrivals Layout */
@import "nr-layout";

/* Netrivals Header */
@import "nr-header";

/* Netrivals Footer */
@import "nr-footer";

@font-face {
  font-family: $main-font-name;
  src: url("../fonts/" + $main-font-name + ".ttf") format("truetype");
}

@font-face {
  font-family: $console-font-name;
  src: url("../fonts/" + $console-font-name + ".ttf") format("truetype");
}
